# Project output.
*.zip
*.out

# Java
*.class
build/

# Mac files.
.DS_Store

# Net beans files.
nbproject/private/

# Windows files.
*._
Thumbs.db
*.ini

# Vim files.
*~
.*.swp
*.swp

# Other files.
*.lock
